body {
    display: flex;
    flex-flow: column nowrap;
    font-family: monospace;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 48px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

p {
    font-size: 18px;
}

button {
flex-grow: 0;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px;
    align-items: center;
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    color: whitesmoke;
    gap: 16px;
    align-items: center;
}

.penguin {
    height: 50px;
    width: 50px;
    border: 2px dotted whitesmoke;
    border-radius: 50%;
}

.about {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    padding: 48px;
    color: #E5E7EB;
    gap: 16px;
}

.text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 700px;
}



.image {
    display: flex;
    justify-content: center;
    align-items: center;
}


#about {
    font-size: 48px;
    font-weight: bolder;
}
